.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.info {
  background: skyblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.error {
  background: red;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.warning {
  background: rgb(241, 188, 14);
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.success {
  background: rgb(41, 175, 41);
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}
